out
dist
node_modules
.vscode-test/
*.vsix
.DS_Store
FAO_trade_matrix_1986_2021.gdx
FAO_trade_matrix_1986_2021.gsp
coco2_outputorg_290825.gdx
coco2_outputorg_290825.gsp
results.gdx
test.gms
test.lst
xilink.gdx